* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis', sans-serif;
}

html, body {
    overflow: hidden;
    margin: 0;
}

.firstpage {
    position: relative;
    height: 100vh;
    background-color: red;
}

.product1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: block;
}

.first-title {
    z-index: 1;
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    text-align: center;
    color: yellow;
}